<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>FLISOL 2014 - TACNA</title>
	<link rel="stylesheet" href="/media/css/normalize.css">
	<link rel="stylesheet" href="/media/css/estilos.css">
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
	<div class="centrar">
		<figure>
			<img src="/media/imgs/logo_flisol.png" alt="">
		</figure>
		<h1>
			10 Festival Latinoamericano de Instalación de Software Libre
		</h1>
		<p>Sede - Tacna</p>
	</div>
</header>
<nav>
	<div class="centrar">
		<ul>
			<a href="#" class="flisol"><img src="/media/imgs/flisol.png" alt="" height="45px" width="85px"></a>
			<li><a href="#que-es" data-scroll data-speed="770" data-easing="easeOutQuint" data-url="false">¿Qué es FLISOL?</a></li>
			<li><a href="#actividades" data-scroll data-speed="770" data-easing="easeOutQuint" data-url="false">Actividades</a></li>
			<li><a href="#cronograma" data-scroll data-speed="770" data-easing="easeOutQuint" data-url="false">Cronograma</a></li>
			<li><a href="#ubicacion" data-scroll data-speed="770" data-easing="easeOutQuint" data-url="false">Ubicación</a></li>
			<li><a href="#auspiciador" data-scroll data-speed="770" data-easing="easeOutQuint" data-url="false">Auspiciadores</a></li>
		</ul>
		<a href="" class="inscribirse">Inscríbete (es gratis)</a>
	</div>
</nav>
<div class="agrupado">
 	<section class="que-es" id="que-es">
 		<div class="centrar">
 			<h2>¿Qué es FLISOL?</h2>
	 		<p>El Festival Latinoamericano de Instalación de Software Libre (FLISOL) es actualmente el evento de instalación y difusión de Software Libre más grande en el mundo. Se realiza desde el año 2005 en diversos países de Latinoamérica, habiéndose extendido a otras regiones como España y Estados Unidos.</p>
	 		<p>El principal objetivo de FLISOL es promover el uso del software libre, dando a conocer al público en general su filosofía, alcances, avances y desarrollo.</p>
	 		<p>Cada año, en una fecha simultánea por acuerdo internacional, las diversas comunidades locales de software libre (en cada país y ciudad participante) organizan eventos en los que se instala, de manera gratuita y totalmente legal, programas de software libre en las computadoras que llevan los asistentes.</p>
	 		<div class="frase">
	 			<figure>
	 				<img src="/media/imgs/stallman.png" alt="">
	 			</figure>
	 			<p>Beethoven era un buen compositor porque utilizaba ideas nuevas en combinación con ideas antiguas. Nadie, ni siquiera Beethoven podría inventar la música desde cero. Es igual con la informática.  (Por Richard Stallman)</p>
	 		</div>
 		</div>
 	</section>
 	<div class="centrar">
 		<section class="separar">
 			<figure>
 				<img src="/media/imgs/estrella.png" alt="">
 			</figure>
 		</section>
 	</div>
 	<section class="actividades" id="actividades">
 		<div class="centrar">
 			<h2>Actividades</h2>
 			<div class="actividades">
 				<div class="actividad">
 					<figure>
 						<img src="/media/imgs/conferencias.png" alt="">
 					</figure>
 					<div class="descripcion">
 						<h3>Conferencias</h3>
 						<p>Conferencias, charlas y talleres dirigidos por personas que han implementado y han hecho uso del software libre. </p>
 					</div>
 				</div>

 				<div class="actividad">
 					<figure>
 						<img src="/media/imgs/instalacion.png" alt="">
 					</figure>
 					<div class="descripcion">
 						<h3>Instalaciones</h3>
 						<p>Habrá espacios donde los visitantes podrán acercarse
						con su computadoras personales a instalar software libre
						</p>
 					</div>
 				</div>

 				<div class="actividad">
 					<figure>
 						<img src="/media/imgs/cd-dvd.png" alt="">
 					</figure>
 					<div class="descripcion">
 						<h3>CD's y DVD's</h3>
 						<p>Podrán obtener CD’s y DVD’s con software libre en los stands dedicados a Distribuciones GNU/LINUX y Software Libres mas populares.
						</p>
 					</div>
 				</div>

 				<div class="actividad">
 					<figure>
 						<img src="/media/imgs/feria.png" alt="">
 					</figure>
 					<div class="descripcion">
 						<h3>Feria Tecnológica</h3>
 						<p>Stands donde podrás ver proyectos en los cuales se utiliza el sofware libre.  Encontrarás gran cantidad de información muy útil.
						</p>
 					</div>
 				</div>

 				<div class="actividad">
 					<figure>
 						<img src="/media/imgs/conversatorio.png" alt="">
 					</figure>
 					<div class="descripcion">
 						<h3>Conversatorio</h3>
 						<p>Conversatorios sobre el impacto del software libre en la educación, gestión pública y pequeña y mediana empresas.
						</p>
 					</div>
 				</div>

 			</div>
 		</div>
 	</section><!-- Fin Actividades -->

 	<div class="centrar">
 		<section class="separar">
 			<figure>
 				<img src="/media/imgs/estrella.png" alt="">
 			</figure>
 		</section>
 	</div>

 	<section class="cronograma" id="cronograma">
 		<div class="centrar">
 			<h2>Cronograma</h2>
 			<p>Por la mañana</p>
 			<div class="cronograma-actividad">
 				<div class="hora">8:00 - 8:15</div>
 				<div class="detalle">
 					<span class="titulo">Bienvenida al FLISOL 2014</span>
 					<span class="detalle">Palabras de Apertura</span>
 				</div>
 			</div>
 			<div class="cronograma-actividad">
 				<div class="hora">8:00 - 8:15</div>
 				<div class="detalle">
 					<span class="titulo">Software Libre en la educación en línea</span>
 					<span class="detalle">Charla brindada por Sherlock Holmes</span>
 				</div>
 			</div>
 			<div class="cronograma-actividad">
 				<div class="hora">8:00 - 8:15</div>
 				<div class="detalle">
 					<span class="titulo">Administrando Bases de Datos</span>
 					<span class="detalle">Administración de Bases de Datos con software Libre a cargo
del profesor Francisco Bolognesi</span>
 				</div>
 			</div>
 			<p>Por la tarde</p>
 			<div class="cronograma-actividad">
 				<div class="hora">8:00 - 8:15</div>
 				<div class="detalle">
 					<span class="titulo">Bienvenida al FLISOL 2014</span>
 					<span class="detalle">Palabras de Apertura</span>
 				</div>
 			</div>
 			<div class="cronograma-actividad">
 				<div class="hora">8:00 - 8:15</div>
 				<div class="detalle">
 					<span class="titulo">Software Libre en la educación en línea</span>
 					<span class="detalle">Charla brindada por Sherlock Holmes</span>
 				</div>
 			</div>
 			<div class="cronograma-actividad">
 				<div class="hora">8:00 - 8:15</div>
 				<div class="detalle">
 					<span class="titulo">Administrando Bases de Datos</span>
 					<span class="detalle">Administración de Bases de Datos con software Libre a cargo
del profesor Francisco Bolognesi</span>
 				</div>
 			</div>
 		</div>
 	</section>

 	<div class="centrar">
 		<section class="separar">
 			<figure>
 				<img src="/media/imgs/estrella.png" alt="">
 			</figure>
 		</section>
 	</div>

	<section class="ubicacion" id="ubicacion">
		<div class="centrar">
			<h2>Ubicación</h2>
			<p>El Décimo Festival Latinoamericano de Instalación de Software Libre - FLISOL 2014 se llevará a cabo en</p>
		</div>
		<div id="mapa"></div>
	</section>

	<div class="centrar">
 		<section class="separar">
 			<figure>
 				<img src="/media/imgs/estrella.png" alt="">
 			</figure>
 		</section>
 	</div>

	<section class="auspiciador" id="auspiciador">
		<div class="centrar">
			<h2>Auspiciadores</h2>
			<p>El Décimo Festival Latinoamericano de Instalación de Software Libre - FLISOL 2014 llega gracias al gentil apoyo
de las siguientes empresas:</p>
			<div class="empresas">
				<figure>
					<img src="/media/imgs/auspiciadores/acromath.png" width="200px" height="114px" alt="">
				</figure>
				<figure>
					<img src="/media/imgs/auspiciadores/avancorp.png" width="200px" height="114px" alt="">
				</figure>
				<figure>
					<img src="/media/imgs/auspiciadores/bardotronix.png" width="200px" height="114px" alt="">
				</figure>
				<figure>
					<img src="/media/imgs/auspiciadores/coyote_textil.png" width="200px" height="114px" alt="">
				</figure>
			</div>
			<div class="empresas">
				<figure>
					<img src="/media/imgs/auspiciadores/eureka.png" width="200px" height="114px" alt="">
				</figure>
				<figure>
					<img src="/media/imgs/auspiciadores/heleo.png" width="200px" height="114px" alt="">
				</figure>
				<figure>
					<img src="/media/imgs/auspiciadores/marioruiz.png" width="200px" height="114px" alt="">
				</figure>
				<figure>
					<img src="/media/imgs/auspiciadores/piscos_cuneo.png" width="200px" height="114px" alt="">
				</figure>
			</div>
			<div class="empresas">

				<figure>
					<img src="/media/imgs/auspiciadores/puritain.png" width="200px" height="114px" alt="">
				</figure>
				<figure>
					<img src="/media/imgs/auspiciadores/super_stereo.png" width="200px" height="114px" alt="">
				</figure>
				<figure>
					<img src="/media/imgs/auspiciadores/cristomorfosis.jpg" width="200px" height="114px" alt="">
				</figure>
			</div>
		</div>
	</section>
	<footer>
		<div class="centrar">
			<figure>
				<img src="/media/imgs/cc.png" alt="">/media/
			</figure>
			<figure>
				<img src="/media/imgs/gpl.png" alt="">
			</figure>
			<div class="contenido">
				<p>El contenido de la página está bajo la licencia de Creative Commons Reconocimiento Compartir Igual 3.0 Unported.</p>
				<p>El código fuente de la página está disponible en <a href="">Github</a> bajo la <a href="">GNU Public License 3.0</a> </p>
			</div>
		</div>
	</footer>
</div>

<div class="efectocomprar">
		<div class="efecto"></div>
		<div class="form">
				<!--<form id="form">
					<h4 id="h4">Ingresa tus Datos personales</h4>
					<input type="text" placeholder="Nombres y Apellidos">
					<input type="text" placeholder="Email">
					<p>Para los que deseen certificado, éste tendrá un valor de S/ 10.00 nuevos soles</p>
					<input type="checkbox" value="certificado">¿Con certificado?
					<input type="submit" value="Incribirme">
				</form>-->
				<form id="form" action="." method="POST" enctype="multipart/form-data">
			{% csrf_token %}
    		<fieldset>
			<div class="clearfix">
				{{ form.subject.errors}}
				<label for="id_nombres" >Nombres</label>
				{{ form.nombres }}
			</div>
			<div class="clearfix">
				{{ form.subject.errors}}
				<label for="id_apellidos" >Apellidos</label>
				{{ form.apellidos}}
			</div>
			<div class="clearfix">
				{{ form.subject.errors}}
				<label for="id_dni" >DNI</label>
        		{{ form.dni }}
			</div>
			<div class="clearfix">
				{{ form.subject.errors}}
				<label for="id_email" >Email</label>
        		{{ form.email }}
			</div>
			<div class="clearfix">
				{{ form.subject.errors}}
				<label for="id_telefono" >Teléfono</label>
        		{{ form.telefono }}
			</div>
			<div class="clearfix">
				{{ form.subject.errors}}
				<label for="id_organizacion">Organización/C. Estudio/Empresa</label>
				{{ form.organizacion }}
			</div>
			<div class="certificado">
				{{ form.subject.errors}}
				<label for="id_certificado">Certificado: (S/. 20)</label>
				{{ form.certificado }}
			</div>
			<input type="submit" name="mysubmit" id="mysubmit" value="Realizar Inscripción">
    <button type="reset" class="btn btn-small btn-primary">Limpiar</button>

		</fieldset>

		<!-- RESULTADO-->
			<div id="result"></div>
		</form>
		</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="/media/js/gmaps.js"></script>
<script src="/media/js/smooth-scroll.js"></script>

<script>
		$('.inscribirse').click(function(e){
			e.preventDefault();
			$('.efectocomprar').css("display","block");
			console.log("Click aqui");
		});
		$('.efecto').click(function(){
			$('.efectocomprar').css("display","none");
			console.log("Click");
		});
</script>
<script>
	$(document).ready(function(){
	 	var map = new GMaps({
	    el: '#mapa',
	    lat: -18.025022,
	    lng: -70.250504,
	    zoom: 17,
	    zoomControl : false,
	    zoomControlOpt: {
	        style : 'SMALL',
	        position: 'TOP_LEFT'
	    },
	    panControl : false,
 	 	});

 	 	map.addMarker({
      	lat: -18.025022,
      	lng: -70.250504,
      	title: 'Universidad Nacional Jorge Basadre Grohmann',
      	infoWindow: {
        content: '<p>Universidad Nacional Jorge Basadre Grohmann</p>' }
    	});

	});
</script>
<script>
var mn = $('nav');
$(window).scroll(function(){
	if( $(this).scrollTop() > 360 ){
		mn.addClass('nav-scrolled');
	}else{
		mn.removeClass('nav-scrolled');
	}
});
</script>
</body>
</html>